* {
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

body, html {
  height: 100%;
  max-width: 100%;
  background: #dedede;
}

/* MOBILE NAVBAR DESIGN */ /* MOBILE NAVBAR DESIGN */
/* MOBILE NAVBAR DESIGN */ /* MOBILE NAVBAR DESIGN */
/* MOBILE NAVBAR DESIGN */ /* MOBILE NAVBAR DESIGN */

.nav-container {
  padding: 0;
  width: 100%;
}

.navbar-header {
  background: #00009b;
}

.navbar-toggle {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background: orange;
}

.navbar form {
  border: none;
}

.form-control {
  width: 57%;
  display: inline-block;
}

.form-group input {
  margin-top: 2px;
  margin-bottom: -2px;
}

.form-group button, .form-group .btn:active {
  vertical-align: baseline;
  color: white;
  background: #ee9000;
  text-transform: uppercase;
  border: 1px solid #ccc;
}

.form-group .btn:focus, .form-group button:hover {
  background: #d07e00;
  color: white;
  border: 1px solid #ccc;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background: #00009b;
}

.navbar-default .navbar-nav>li>a {
  background: #1622e7;
  color: white;
}

@media only screen
  and (min-width : 1px)
  and (max-width : 480px){

    #mobileNav {
      display: inline-block;
      min-width: 400px;
      width: 100%;
    }

    #desktopNav {
      display: none;
    }

}

@media only screen and (min-width : 480px) {

  #mobileNav {
    display: none;
  }

  #desktopNav .navbar-header .forSubscribers {
    float: right;
  }

}

/* DESKTOP NAVBAR DESIGN */ /* DESKTOP NAVBAR DESIGN */
/* DESKTOP NAVBAR DESIGN */ /* DESKTOP NAVBAR DESIGN */
/* DESKTOP NAVBAR DESIGN */ /* DESKTOP NAVBAR DESIGN */

.navbar-default {
  background: #00009b;
}

.dropdown {
  margin-top: 6px;
}

.dropdown, .dropdown button {
  display: inline-block;
}

.dropdown button, .dropdown button:hover {
  text-transform: uppercase;
  color: white;
  background: #00009b;
  font-size: 18px;
  margin: 0 10px;
  width: 175px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background: #1622e7;
 }

.dropdown-menu li a {
  color: white;
  font-size: 16px;
}

#desktopNav .navbar-form {
  display: inline-block;
}

#desktopNav .form-group {
  width: 100%;
}

#desktopNav .form-control {
  width: 50vh;
}

.form-group .form-control {
  vertical-align: baseline;
}

.navbar-right {
  margin-right: 0;
}

@media on screen and (min-width: 768px) and (max-width: 1138px) {
  #desktopNav .navbar-form {
    float: none !important;
    text-align: center;
    margin: 0 auto;
    width: 85%;
  }
}

.dropdown-menu {
  left: 7.5%;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background: #00009b;
  color: white;
}

.jumbotron {
  background-image: url('../assets/mobileSponge.png');
  background-repeat:no-repeat;
  background-position: 42% 75%;
  margin-top: -18px;
  height: 500px;
}

.jumbotron h1 {
  font-weight: 600;
}

.jumbotron h1, .jumbotron h3 {
  margin: 0 auto;
  text-align: center;
  font-family: 'EB Garamond', serif;
  margin: 0;
  text-transform: uppercase;
  color: white;
}

.jumbotron .container div {
  width: 100%;
}

.jumbotron .container div, .jumbotron .container div h3 {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.jumbotron span {
  color: #00009b;
  font-size: 30px;
  vertical-align: bottom;
}
